.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 60px;
  background:linear-gradient(90deg,#1c2e5a,#2f4ea2);
  color:white;
}

.logo{
  font-size:22px;
  font-weight:bold;
  cursor:pointer;
}

.nav-links{
  display:flex;
  gap:30px;
}

.nav-links a{
  text-decoration:none;
  color:white;
  font-weight:500;
  transition:0.3s;
}

.nav-links a:hover{
  color:#3ec6d0;
}

.active{
  color:#3ec6d0;
  font-weight:600;
}

.auth button{
  background:#39b5e0;
  border:none;
  padding:10px 18px;
  border-radius:8px;
  cursor:pointer;
  font-weight:600;
}

.auth button:hover{
  background:#2aa0c7;
}