<section class="demo-section">

  <div class="demo-container">

    <!-- LEFT SIDE FORM -->

    <div class="demo-form">

      <h2>
        Would you like to <br>
        <span>Schedule a free Demo?</span>
      </h2>

      <input type="text" placeholder="Full Name">

      <input type="email" placeholder="Email ID">

      <div class="form-row">
        <input type="text" placeholder="Mobile Number">
        <input type="date">
      </div>

      <select>
        <option>Select Preferred Time Slot</option>
        <option>10:00 AM</option>
        <option>12:00 PM</option>
        <option>3:00 PM</option>
        <option>6:00 PM</option>
      </select>

<label class="checkbox">
  <input type="checkbox">
  <span>
    I agree to the <a href="#">Terms and Conditions</a>
  </span>
</label>

      <button class="book-btn">Book My Slot</button>

    </div>

    <!-- RIGHT SIDE IMAGE -->

    <div class="demo-image">

      <img src="/image2.png" alt="demo image">

      <div class="contact-card">
        <h4>We Are Here to Assist you</h4>

        <p>📞 Call : 91-8114479678</p>
        <p>✉ Mail : info@libraro.in</p>
      </div>

    </div>

  </div>

</section>