<section class="hero">

  <div class="hero-container">

    <!-- LEFT CONTENT -->
    <div class="hero-text">

      <p class="tagline">
        Revolutionize Your Library with the Best Library Management Software
      </p>

      <h1 class="hero-title">
        Effortlessly manage your library from
        <span class="typing-text">
          seat bookings to reporting all in one place |
        </span>
      </h1>

      <p class="description">
        Optimize your library operations with our feature-rich,
        user-friendly software perfect for public and private libraries.
      </p>

<a routerLink="/signup" class="hero-btn">
  Sign Up for Easy Management
</a>

    </div>

    <!-- RIGHT IMAGE -->
    <div class="hero-images">
      <img src="/image1.png" class="hero-main-image">
    </div>

  </div>

</section>