<section class="hero">

  <div class="hero-content">

    <div class="hero-text">
      <h1>Smart Library Management System</h1>

      <p>
        Manage books, users, borrowing and returns easily with a
        modern library platform designed for efficiency.
      </p>

      <div class="hero-buttons">
        <button class="primary-btn">Get Started</button>
        <button class="secondary-btn">Learn More</button>
      </div>
    </div>

    <div class="hero-image">
      <img src="/image1.png" alt="library image">
    </div>

  </div>

</section>